#display{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: right;
    height: 40px;
    width: 300px;
    border: solid black 1px;
}

div .row button {
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 5px;
}